<div class="ngdialog-message">
	<h4 style="margin-top: 20px; margin-bottom: 20px;">Thông tin chung về trường ĐHCN-ĐHQGHN</h4>
	<ul class="mt">
		<li>Tên trường: Đại Học Công Nghệ - Đại Học Quốc Gia Hà Nội</li>
		<li>Địa chỉ: 144 Xuân Thủy - Cầu Giấy - Hà Nội</li>
		<li>Điểm chuẩn năm gần nhất: 18-22</li>
		<li>Chỉ tiêu tuyển sinh: 300-500</li>
		<li>Trang chủ: <a href="http://www2.uet.vnu.edu.vn/coltech/">http://www2.uet.vnu.edu.vn/coltech/</li>
	</ul>
</div>

<div class="ngdialog-buttons mt">
	<a class="btn ngdialog-button ngdialog-button-primary" href="/uni/thongtin" ng-click=closeThisDialog("Cancel")>►</a>
</div>