<div ng-controller="HomeController">
	<div class="ngdialog-message">
		<center><h4 style="margin-top: 20px; margin-bottom: 20px;">{{selectedUni.name}}</h4></center>
		<ul class="mt">
			<li>Địa chỉ: {{selectedUni.address}}</li>
			<li>Số điện thoại: {{selectedUni.phone}}</li>
			<li>Trang chủ: <a href="{{selectedUni.website}}">{{selectedUni.website}}</a></li>
			<hr>
			<center>
				<div star-rating ng-model="ratingChoice" max="5"></div>
				{{ratingPoint}}/5 ( <i class="fa fa-user"> {{userRating}}</i> )
			</center>
		</ul>
	</div>

	<div class="ngdialog-buttons mt">
		<a class="btn ngdialog-button ngdialog-button-primary" href="/infor/{{selectedUni.id}}/thongtin" ng-click="closeThisDialog('Close') && getUniInfor()">►</a>
	</div>
</div>