<div class="container-fluid" ng-controller="HomeController">
    <div class="row" id="SearchBox">
        <div class="col-md-4 col-md-offset-4">
            <form role="search" style="margin-top: 20px; margin-bottom: 20px">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search" style="height:18px;"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div id="Map" class="col-md-6 col-md-offset-1">
            <div class="box">
                <div class="row">
                    <div class="col-md-7">
                        <img class="img-responsive" style="margin-top:10px; margin-left:20px" src="assets/images/Vietnam_Map.png">
                    </div>
                    <div class="col-md-5">
                        <div>
                            <h6 href="#" class="list-group-item disabled text-center">
                                Miền Bắc
                            </h6>
                            <ul class="list-group" style="height:120px; overflow:auto;font-family:'Open Sans'; font-size: 90%;">
                                <li class="list-group-item" style="padding:2px 15px" ng-repeat="uni in universities | filter: {region: 1}">
                                    <a ng-href="/uni/thongtin" ng-click="getUni()">{{uni.id}} - {{uni.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h6 href="#" class="list-group-item disabled text-center">
                                Miền Trung
                            </h6>
                            <ul class="list-group" style="height:120px; overflow:auto;font-family:'Open Sans'; font-size: 90%;">
                                <li class="list-group-item" style="padding:2px 15px" ng-repeat="uni in universities | filter: {region: 2}">
                                    <a ng-href="/uni/thongtin" ng-click="getUni()">{{uni.id}} - {{uni.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h6 href="#" class="list-group-item disabled text-center">
                                Miền Nam
                            </h6>
                            <ul class="list-group" style="height:120px; overflow:auto;font-family:'Open Sans'; font-size: 90%;">
                                <li class="list-group-item" style="padding:2px 15px" ng-repeat="uni in universities | filter: {region: 3}">
                                    <a ng-href="/uni/thongtin" ng-click="getUni()">{{uni.id}} - {{uni.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Filter Board-->
        <div id="Filter" class="col-md-4">
            <div class="box">
                <hr>
                <h2 class="intro-text text-center">Hãy chọn theo cách của bạn!</h2>
                <hr>
                <form id="FilterForm" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Ngành học</label>
                        <div class="col-md-8 selectContainer">
                            <input type="text" class="form-control" placeholder="Nhập tên ngành cần tìm" ng-model="tennganh">
                            <select name="NganhHoc" class="form-control" ng-model="nganhhoc" ng-options="n.name for n in filter.nganhhoc | nganhhocFilter:tennganh | orderBy: 'name'"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Khối thi</label>
                        <div class="col-md-8 selectContainer">
                            <select name="KhoiThi" class="form-control" ng-model="khoithi" ng-options="k.name for k in filter.khoithi | orderBy: 'name'"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Mức điểm</label>
                        <div class="col-md-8 selectContainer">
                            <select name="MucDiem" class="form-control" ng-model="mucdiem" ng-options="m.name for m in filter.mucdiem | orderBy: 'id'"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Vùng miền</label>
                        <div class="col-md-8 selectContainer">
                            <select name="VungMien" class="form-control" ng-model="vungmien" ng-options="v.name for v in filter.vungmien | orderBy: 'id'"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Tỉnh/T.Phố</label>
                        <div class="col-md-8 selectContainer">
                            <select name="ThanhPho" class="form-control" ng-model="thanhpho" ng-options="t.name for t in filter.thanhpho | thanhphoFilter:vungmien | orderBy: 'id'"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Loại trường</label>
                        <div class="col-md-8 selectContainer">
                            <select name="LoaiTruong" class="form-control" ng-model="loaitruong" ng-options="l.name for l in filter.loaitruong | orderBy: 'id'"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <br>
                        <div class="col-md-5 col-md-offset-4">
                            <button type="submit" class="btn btn-default" ng-click="search()">Tìm kiếm</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>