<div class="container">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  	var js, fjs = d.getElementsByTagName(s)[0];
  	if (d.getElementById(id)) return;
  	js = d.createElement(s); js.id = id;
  	js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3";
  	fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>

<div class="box">
	<div class="col-md-12">
	    <hr>
	    <h2 class="intro-text text-center">Thanh Hóa, Ninh Bình chung hội đồng thi THPT quốc gia</h2>
	    <hr>
	    <b>Tại tỉnh Thanh Hóa sẽ có hai hội đồng thi THPT quốc gia, trong đó một hội đồng thi xét công nhận tốt nghiệp THPT và xét tuyển sinh đại học, cao đẳng cho cả hai tỉnh Thanh Hóa, Ninh Bình và một hội đồng chỉ xét công nhận tốt nghiệp.</b>
	    <p>Ngày 17/4, Văn phòng Sở Giáo dục và Đào tạo tỉnh Thanh Hóa cho biết, UBND tỉnh vừa phê duyệt phương án tổ chức kỳ thi THPT quốc gia năm 2015 và tuyển sinh vào lớp 10 THPT năm học 2015-2016.
	    <br>
		Cụ thể, đối với kỳ thi THPT quốc gia sẽ thành lập hai hội đồng thi. Một hội đồng thi giao Đại học Hồng Đức chủ trì, phối hợp với Sở Giáo dục hai tỉnh Thanh Hóa, Ninh Bình để xét công nhận tốt nghiệp THPT và xét tuyển sinh đại học, cao đẳng. Hội đồng này được tổ chức tại các cơ sở của Đại học Hồng Đức (nằm trên địa bàn thành phố Thanh Hóa) và một số huyện lân cận.</p>
	    <p>Xem thêm: <a href="http://vnexpress.net/tin-tuc/giao-duc/tuyen-sinh/thanh-hoa-ninh-binh-chung-hoi-dong-thi-thpt-quoc-gia-3202107.html">http://vnexpress.net/tin-tuc/giao-duc/tuyen-sinh/thanh-hoa-ninh-binh-chung-hoi-dong-thi-thpt-quoc-gia-3202107.html</a>
	    </p>
	</div>
	<div class="fb-comments" data-href="http://www.z1h4wk.me" data-width="800" data-numposts="5" data-colorscheme="light"></div>
</div>
</div>