<div class="brand">Trường Đại Học Công Nghệ - ĐHQGHN</div>

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="/uni/thongtin">Đại Học Công Nghệ - ĐHQGHN</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/uni/thongtin">Thông Tin</a>
                </li>
                <li>
                    <a href="/uni/khoadaotao">Khoa Đào Tạo</a>
                </li>
                <li>
                    <a href="/uni/xemdiemchuan">Xem Điểm Chuẩn</a>
                </li>
                <li>
                    <a href="/uni/tuyensinh">Tuyển Sinh</a>
                </li>
                <li>
                    <a href="/uni/lienhe">Liên Hệ</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-md-12">
                <hr>
                <h2 class="intro-text text-center">Giới thiệu về trường</h2>
                <hr>
                <img class="img-responsive img-border img-left" src="assets/images/uet/uet_logo.png" alt="">
                <hr class="visible-xs">
                <p>Năm thành lập: 1994 - 2015</p>
                <p>Trang chủ: <a href="http://www2.uet.vnu.edu.vn/coltech/">http://www2.uet.vnu.edu.vn/coltech/</a>
                </p>
                <p>Trường Đại học Công nghệ năm trong khuôn viên của Đại học Quốc gia Hà Nội tại quận Cầu Giấy ở phía tây thành phố, ngay ngã tư của hai tuyến đường lớn: tuyến đường Phạm Hùng qua cầu vượt nối đường Phạm Văn Đồng kéo dài qua cầu Thăng Long đến sân bay quốc tế Nội Bài và tuyến đường Xuân Thủy - Hồ Tùng Mậu nối tới quốc lộ 32 đi thị xã Sơn Tây. Đây là địa điểm khá thuận lợi về giao thông, cách bến xe Mỹ Đình 1 km, cách bến xe Kim Mã khoảng 3 km, cách trung tâm thành phố 7 km và cách sân bay Nội Bài khoảng 25 km. Nhiều tuyến xe buýt có điểm dừng ngay cổng trường như các tuyến xe buýt số 16, 20, 26, 32.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-md-12">
                <hr>
                <h2 class="intro-text text-center">Thông tin tuyển sinh năm 2014-2015</h2>
                <hr>
                <!--
                <img class="img-responsive img-border img-left" src="assets/images/uet/uet_logo.png" alt="">
                <p>Button ở dưới slide nhỏ, click vào button thì ra slide lớn</p>
                <hr class="visible-xs">
                -->
                <p>Năm vừa qua Đại Học Công Nghệ tuyển 700 sinh viên</p>
                <p>Điểm chuẩn vào trường năm vừa qua trong khoảng 18-22 (<a href="/uni/diemchuan">Xem chi tiết</a>)</p>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>Copyright &copy; VnUni Team 2015</p>
            </div>
        </div>
    </div>
</footer>