<div class="header">
    <div class="brand">{{uniInfor.name}}</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="/{{uniId}}/thongtin">{{uniInfor.name}}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li style="margin: -15px;">
                        <a href="/../../"><i class="fa fa-home fa-3x"  style="margin-left: 15px; margin-right: 10px;"></i></a>
                    </li>
                    <li>
                        <a href="/{{uniId}}/thongtin">Thông Tin</a>
                    </li>
                    <li>
                        <a href="/{{uniId}}/khoadaotao">Khoa Đào Tạo</a>
                    </li>
                    <li>
                        <a href="/{{uniId}}/xemdiemchuan">Xem Điểm Chuẩn</a>
                    </li>
                    <li>
                        <a href="/{{uniId}}/tuyensinh">Tuyển Sinh</a>
                    </li>
                    <li>
                        <a href="/{{uniId}}/lienhe">Liên Hệ</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>