<div class="brand">Trường Đại Học Công Nghệ - ĐHQGHN</div>

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="/uni/thongtin">Đại Học Công Nghệ - ĐHQGHN</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/uni/thongtin">Thông Tin</a>
                </li>
                <li>
                    <a href="/uni/khoadaotao">Khoa Đào Tạo</a>
                </li>
                <li>
                    <a href="/uni/xemdiemchuan">Xem Điểm Chuẩn</a>
                </li>
                <li>
                    <a href="/uni/tuyensinh">Tuyển Sinh</a>
                </li>
                <li>
                    <a href="/uni/lienhe">Liên Hệ</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-md-12">
                <hr>
                <h2 class="intro-text text-center">Thông tin tuyển sinh năm 2014</h2>
                <hr>
                <img class="img-responsive img-border img-left" src="assets/images/uet/tuyensinh.png" alt="">
                <hr class="visible-xs">
                <p>- Điểm chuẩn trúng tuyển được xét theo nhóm ngành. Thí sinh trúng tuyển sẽ được phân vào ngành cụ thể trong nhóm dựa theo nguyện vọng đăng ký, điểm thi tuyển của thí sinh và chi tiêu của từng ngành.</p>
 
<p>- Ngành Khoa học Máy tính và ngành Công nghệ Kỹ thuật Điện tử, Truyền thông (tên gọi cũ Công nghệ Điện tử - Viễn thông) đào tạo theo chương trình đạt chuẩn quốc tế, đã được Mạng lưới các trường đại học Đông Nam Á (AUN) kiểm định, được đầu tư ưu tiên về cơ sở vật chất, chương trình, giáo trình, và đội ngũ cán bộ giảng dạy.</p>
 
<p>- Ngành Vật lý kỹ thuật đào tạo về Ứng dụng vật lý, Công nghệ nano, Vật liệu và Linh kiện tiên tiến trong các lĩnh vực Vi điện tử, Năng lượng, Y-sinh và Môi trường.</p>
 
<p>- Ngành Cơ kỹ thuật và ngành Công nghệ Kỹ thuật Cơ điện tử đào tạo kỹ sư, cử nhân định hướng chế tạo và kiểm soát quá trình trong Công nghiệp và Môi trường, theo mô hình hợp tác giữa trường đại học, viện nghiên cứu và tập đoàn công nghiệp.</p>
 
<p>- Sinh viên các ngành Vật lý kỹ thuật và Cơ kỹ thuật sau năm thứ nhất có thể đăng ký học bằng kép ngành Công nghệ Thông tin.</p>
 
<p>Trường Đại học Công nghệ hợp tác chặt chẽ về đào tạo và nghiên cứu với các viện nghiên cứu và các tập đoàn công nghệ trong và ngoài nước. Sinh viên được tham gia nghiên cứu khoa học, thực hành thực tập trong các phòng thí nghiệm hiện đại; có nhiều cơ hội thực tập thực tế và nhận các học bổng của doanh nghiệp trong và ngoài nước.</p>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>Copyright &copy; VnUni Team 2015</p>
            </div>
        </div>
    </div>
</footer>