<div class="header">
    <div class="brand">Trường Đại Học Công Nghệ - ĐHQGHN</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="/uni/thongtin">Đại Học Công Nghệ - ĐHQGHN</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li style="margin: -11px;">
                        <a href="/../../"><i class="fa fa-home fa-2x"></i> Home</a>
                    </li>
                    <li>
                        <a href="/uni/thongtin">Thông Tin</a>
                    </li>
                    <li>
                        <a href="/uni/khoadaotao">Khoa Đào Tạo</a>
                    </li>
                    <li>
                        <a href="/uni/xemdiemchuan">Xem Điểm Chuẩn</a>
                    </li>
                    <li>
                        <a href="/uni/tuyensinh">Tuyển Sinh</a>
                    </li>
                    <li>
                        <a href="/uni/lienhe">Liên Hệ</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>