<div ng-controller="UniController" ng-include src="'views/uni_header.html'"></div>

<div class="container">
    <div class="row">
        <div class="box">
            <hr>
            <h2 class="intro-text text-center">Chi tiết điểm chuẩn</h2>
            <hr>
            <hr class="visible-xs">
            <form id="FilterForm" method="post" class="form-horizontal">
                <div class="form-group row">
                    <label class="col-md-2 control-label">Xem điểm chuẩn năm: </label>
                    <div class="col-md-2 selectContainer">
                        <select name="Nganh" class="form-control">
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                            <option value="2012">2012</option>
                        </select>
                    </div>
                </div>
            </form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã Ngành</th>
                        <th>Ngành</th>
                        <th>Chỉ Tiêu</th>
                        <th>Khối Thi</th>
                        <th>Điểm Chuẩn</th>
                        <th>Ghi Chú</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>D480201</td>
                        <td>Công nghệ thông tin</td>
                        <td>200</td>
                        <td>A, A1</td>
                        <td>22</td>
                        <td>Không có</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>D480101</td>
                        <td>Khoa học máy tính</td>
                        <td>80</td>
                        <td>A, A1</td>
                        <td>22</td>
                        <td>Không có</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>D480104</td>
                        <td>Hệ thống thông tin</td>
                        <td>50</td>
                        <td>A, A1</td>
                        <td>22</td>
                        <td>Không có</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>D480102</td>
                        <td>Truyền thông và mạng máy tính</td>
                        <td>90</td>
                        <td>A, A1</td>
                        <td>22</td>
                        <td>Không có</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>D520401</td>
                        <td>Vật lý kỹ thuật</td>
                        <td>60</td>
                        <td>A</td>
                        <td>18</td>
                        <td>Không có</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>D510302</td>
                        <td>Công nghệ kỹ thuật điện tử, truyền thông</td>
                        <td>80</td>
                        <td>A, A1</td>
                        <td>19.5</td>
                        <td>Không có</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>D510203</td>
                        <td>Công nghệ kỹ thuật cơ điện tử</td>
                        <td>80</td>
                        <td>A</td>
                        <td>18</td>
                        <td>Không có</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<!-- /.container -->

<div ng-controller="UniController" ng-include src="'views/uni_footer.html'"></div>
