<div ng-include src="'views/uni_header.html'"></div>
<div class="container">
    <div class="row">
        <div class="box" ng-repeat="(key,newsPeace) in news">
            <div class="col-md-12">
                <hr>
                <h2 class="intro-text text-center">{{newsPeace["intro"]}}</h2>
                <hr>
                <!-- <img class="img-responsive img-border img-left" src="assets/images/uet/tuyensinh.png" alt="">
                <hr class="visible-xs"> -->
                <b style="font-size: 1.25em;">{{newsPeace["bold"]}}</b>
                <p>{{newsPeace["shortDes"]}} <a href="/{{uniId}}/tuyensinh/news/{{key}}">Đọc thêm</a></p>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<div ng-include src="'views/uni_footer.html'"></div>
