<div ng-controller="UniController" ng-include src="'views/uni_header.html'"></div>

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-md-12">
                <hr>
                <h2 class="intro-text text-center">Thông tin liên hệ</h2>
                <hr>
                <hr class="visible-xs">
                <div class="text-center">
                    <p>Địa chỉ: 144 Xuân Thủy - Cầu Giấy - Hà Nội</p>
                    <p>Trang chủ: <a href="http://www2.uet.vnu.edu.vn/coltech/">http://www2.uet.vnu.edu.vn/coltech/</a>
                        <p>Điện thoại: 84.4.37547.461</p>
                        <p>Email: uet@vnu.edu.vn</p>
                        <p>Fax: 84.4.37547.460</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<div ng-controller="UniController" ng-include src="'views/uni_footer.html'"></div>