<div class="container-fluid">
    <div class="row" id="SearchBox">
        <div class="col-md-4 col-md-offset-4">
            <form role="search" style="margin-top: 20px; margin-bottom: 20px">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search" style="height:20px;"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div id="Map" class="col-md-6 col-md-offset-1">
            <div class="box">
                <div class="row">
                    <div class="map">
                        <img class="img-left" style="max-width: 50%; margin-top:10px;" src="assets/images/Vietnam_Map.png">
                    </div>
                    <div class="col-md-5">
                        <div>
                            <h6 href="#" class="list-group-item disabled text-center">
									Miền Bắc
								</h6>
                            <ul class="list-group" style="height:120px; overflow:auto;font-family:'Open Sans'; font-size: 90%;">
                                <li class="list-group-item" style="padding:2px 15px"><a href="/uni/QHI"> QHI - Đại học Công nghệ - ĐH QGHN </a></li>
                                <li class="list-group-item" style="padding:2px 15px"> GTA - Đại học Công nghệ Giao thông Vận tải </li>
                                <li class="list-group-item" style="padding:2px 15px"> CM1 - Cao Đẳng Sư Phạm Trung Ương </li>
                                <li class="list-group-item" style="padding:2px 15px"> C01 - Cao đẳng sư phạm Hà Nội </li>
                                <li class="list-group-item" style="padding:2px 15px"> CYZ - Cao đẳng Y tế Hà Nội </li>
                                <li class="list-group-item" style="padding:2px 15px"> CCK - Cao Đẳng Kinh Tế Công Nghiệp Hà Nội </li>
                                <li class="list-group-item" style="padding:2px 15px"> SKD - Đại học Sân khấu Điện ảnh </li>
                                <li class="list-group-item" style="padding:2px 15px"> ZNH - ĐH Văn hóa - Nghệ thuật quân đội (Hệ... </li>
                                <li class="list-group-item" style="padding:2px 15px"> HCH - Học viện Hành chính Quốc gia (KV Phía Bắc... </li>
                                <li class="list-group-item" style="padding:2px 15px"> DNV - Đại học Nội Vụ </li>
                                <li class="list-group-item" style="padding:2px 15px"> LPH - Đại học Luật Hà Nội </li>
                                <li class="list-group-item" style="padding:2px 15px"> VHD - Đại học Công Nghiệp Việt - Hung </li>
                                <li class="list-group-item" style="padding:2px 15px"> YQH - Học Viện Quân Y - Bác sỹ Quân Y (Khu Vực... </li>
                                <li class="list-group-item" style="padding:2px 15px"> PKH - HV Phòng Không - Không Quân - Chỉ Huy Tham Mưu... </li>
                                <li class="list-group-item" style="padding:2px 15px"> PBH - Sỹ quan pháo binh ( phía Bắc) </li>
                                <li class="list-group-item" style="padding:2px 15px"> NQH - Học viện khoa học quân sự - Hệ quân đội... </li>
                                <li class="list-group-item" style="padding:2px 15px"> LAH - Sỹ quan lục quân I - KV Miền Bắc </li>
                                <li class="list-group-item" style="padding:2px 15px"> KQH - Học viện kỹ thuật quân sự - Hệ quân... </li>
                                <li class="list-group-item" style="padding:2px 15px"> KGH - Sỹ Quan Không Quân ( thi ở phía Bắc) </li>
                                <li class="list-group-item" style="padding:2px 15px"> HQH - Học viện Hải Quân - KV Phía Bắc </li>
                                <li class="list-group-item" style="padding:2px 15px"> HFH - Học viện Hậu Cần - Hệ dân sự (Phía Bắc) </li>
                                <li class="list-group-item" style="padding:2px 15px"> HEH - Học viện Hậu Cần - Hệ quân sự (Phía... </li>
                                <li class="list-group-item" style="padding:2px 15px"> DYH - Học viện Quân Y - Hệ Dân Sự (KV Phía Bắc) </li>
                                <li class="list-group-item" style="padding:2px 15px"> DNH - Học viện khoa học quân sự - Hệ Dân Sự... </li>
                                <li class="list-group-item" style="padding:2px 15px"> BPH - Học Viện Biên Phòng (KV Phía Bắc) </li>
                                <li class="list-group-item" style="padding:2px 15px"> CHK - Cao Đẳng Công Nghệ và Kinh Tế Hà Nội </li>
                                <li class="list-group-item" style="padding:2px 15px"> CBT - Cao đẳng Công nghệ và Thương mại Hà Nội </li>
                                <li class="list-group-item" style="padding:2px 15px"> TMA - Đại học Thương Mại </li>
                                <li class="list-group-item" style="padding:2px 15px"> DDL - Đại học Điện Lực </li>
                                <li class="list-group-item" style="padding:2px 15px"> HYD - Học viện Y dược học cổ truyền Việt... </li>
                                <li class="list-group-item" style="padding:2px 15px"> CCI - Cao đẳng Công nghiệp In </li>
                                <li class="list-group-item" style="padding:2px 15px"> CLH - Cao đẳng Điện tử - Điện lạnh Hà Nội </li>
                                <li class="list-group-item" style="padding:2px 15px"> SPH - Đại học Sư Phạm Hà Nội </li>
                                <li class="list-group-item" style="padding:2px 15px"> CNP - Cao đẳng NN và PT NT Bắc Bộ </li>
                                <li class="list-group-item" style="padding:2px 15px"> YTC - Đại học Y tế Công Cộng </li>
                                <li class="list-group-item" style="padding:2px 15px"> LDA - Đại học Công Đoàn </li>
                                <li class="list-group-item" style="padding:2px 15px"> D20 - Cao Đẳng Cộng Đồng Hà Tây </li>
                                <li class="list-group-item" style="padding:2px 15px"> DCN - Đại học Công nghiệp HN </li>
                                <li class="list-group-item" style="padding:2px 15px"> DMT - Đại học Tài nguyên và Môi trường Hà Nội </li>
                                <li class="list-group-item" style="padding:2px 15px"> CHN - Cao Đẳng Cộng Đồng Hà Nội </li>
                                <li class="list-group-item" style="padding:2px 15px"> YHB - Đại học Y Hà Nội </li>
                                <li class="list-group-item" style="padding:2px 15px"> NHF - Đại học Hà Nội </li>
                                <li class="list-group-item" style="padding:2px 15px"> HVQ - Học viện Quản lý Giáo dục </li>
                                <li class="list-group-item" style="padding:2px 15px"> DDN - Đại Học Đại Nam </li>
                                <li class="list-group-item" style="padding:2px 15px"> MTH - Đại Học Mỹ Thuật Việt Nam </li>
                                <li class="list-group-item" style="padding:2px 15px"> CMS - Cao Đẳng Thương Mại </li>
                                <li class="list-group-item" style="padding:2px 15px"> CDT - Cao đẳng Xây dựng công trình đô thị </li>
                                <li class="list-group-item" style="padding:2px 15px"> VHH - Đại học Văn hóa HN </li>
                                <li class="list-group-item" style="padding:2px 15px"> DKS - Đại học Kiểm sát Hà Nội </li>
                                <li class="list-group-item" style="padding:2px 15px"> MHN - Viện Đại học Mở HN
                            </ul>
                        </div>
                        <div>
                            <h6 href="#" class="list-group-item disabled text-center">
										Miền Trung
									</h6>
                            <ul class="list-group" style="height:120px; overflow:auto;font-family:'Open Sans'; font-size: 90%;">
                                <li class="list-group-item" style="padding:2px 15px"> SKV - Trường Đại học Sư phạm Kỹ thuật Vinh </li>
                                <li class="list-group-item" style="padding:2px 15px"> TDV - Trường Đại học Vinh </li>
                                <li class="list-group-item" style="padding:2px 15px"> YKV - Trường Đại học Y khoa Vinh </li>
                                <li class="list-group-item" style="padding:2px 15px"> CEA - Trường Đại học Kinh tế Nghệ An </li>
                                <li class="list-group-item" style="padding:2px 15px"> HHT - Trường Đại học Hà Tĩnh </li>
                                <li class="list-group-item" style="padding:2px 15px"> DQB - Trường Đại học Quảng Bình Đại học HUẾ </li>
                                <li class="list-group-item" style="padding:2px 15px"> DHC - Khoa Giáo dục Thể chất - ĐH Huế </li>
                                <li class="list-group-item" style="padding:2px 15px"> DHD - Khoa Du lịch - ĐH Huế </li>
                                <li class="list-group-item" style="padding:2px 15px"> DHF - Trường Đại học Ngoại ngữ - ĐH Huế </li>
                                <li class="list-group-item" style="padding:2px 15px"> DHK - Trường Đại học Kinh tế - ĐH Huế </li>
                                <li class="list-group-item" style="padding:2px 15px"> DHL - Trường Đại học Nông Lâm - ĐH Huế </li>
                                <li class="list-group-item" style="padding:2px 15px"> DHN - Trường Đại học Nghệ thuật - ĐH Huế </li>
                                <li class="list-group-item" style="padding:2px 15px"> DHS - Trường Đại học Sư phạm - ĐH Huế </li>
                                <li class="list-group-item" style="padding:2px 15px"> DHT - Trường Đại học Khoa học - ĐH Huế </li>
                                <li class="list-group-item" style="padding:2px 15px"> DHY - Trường Đại học Y Dược - ĐH Huế </li>
                                <li class="list-group-item" style="padding:2px 15px"> DHQ - Phân hiệu ĐH Huế tại quảng Trị </li>
                                <li class="list-group-item" style="padding:2px 15px"> DHA - Trường Đại học Luật - ĐH Huế Đại học ĐÀ NẴNG </li>
                                <li class="list-group-item" style="padding:2px 15px"> DDS - Trường Đại học Sư phạm - ĐH Đà nẵng </li>
                                <li class="list-group-item" style="padding:2px 15px"> DDK - Trường Đại học Bách Khoa - ĐH Đà Nẵng </li>
                                <li class="list-group-item" style="padding:2px 15px"> DDQ - Trường Đại học Kinh tế - ĐH Đà Nẵng </li>
                                <li class="list-group-item" style="padding:2px 15px"> DDF - Trường Đại học Ngoại ngữ - ĐH Đà Nẵng </li>
                                <li class="list-group-item" style="padding:2px 15px"> DDP - Phân hiệu Đại học Đà Nẵng tại Kon Tum </li>
                                <li class="list-group-item" style="padding:2px 15px"> DDY - Khoa Y Dược – ĐH Đà Nẵng </li>
                                <li class="list-group-item" style="padding:2px 15px"> HVA - Học viện Âm nhạc Huế </li>
                                <li class="list-group-item" style="padding:2px 15px"> TDL - Trường Đại học Đà Lạt </li>
                                <li class="list-group-item" style="padding:2px 15px"> YDN - Trường Đại học Kỹ thuật Y Dược Đà Nẵng </li>
                                <li class="list-group-item" style="padding:2px 15px"> TSN - Trường Đại học Nha Trang </li>
                                <li class="list-group-item" style="padding:2px 15px"> DPY - Trường Đại học Phú Yên </li>
                                <li class="list-group-item" style="padding:2px 15px"> DPQ - Trường Đại học Phạm Văn Đồng </li>
                                <li class="list-group-item" style="padding:2px 15px"> DQU - Trường Đại học Quảng Nam </li>
                                <li class="list-group-item" style="padding:2px 15px"> DQN - Trường Đại học Quy Nhơn </li>
                                <li class="list-group-item" style="padding:2px 15px"> DKQ - Trường Đại học Tài chính Kế toán </li>
                                <li class="list-group-item" style="padding:2px 15px"> TTN - Trường Đại học Tây Nguyên </li>
                                <li class="list-group-item" style="padding:2px 15px"> TTD - Trường Đại học Thể dục Thể thao Đà Nẵng </li>
                                <li class="list-group-item" style="padding:2px 15px"> XDT - Trường Đại học Xây dựng Miền Trung </li>
                                <li class="list-group-item" style="padding:2px 15px"> BMTU - Trường Đại học Buôn Ma Thuột </li>
                                <li class="list-group-item" style="padding:2px 15px"> DCV - Trường Đại học Công nghiệp Vinh </li>
                                <li class="list-group-item" style="padding:2px 15px"> DDT - Trường Đại học Dân lập Duy Tân </li>
                                <li class="list-group-item" style="padding:2px 15px"> DAD - Trường Đại học Đông Á </li>
                                <li class="list-group-item" style="padding:2px 15px"> DPX - Trường Đại học Dân lập Phú Xuân </li>
                                <li class="list-group-item" style="padding:2px 15px"> DYD - Trường Đại học Dân lập Yersin Đà Lạt </li>
                                <li class="list-group-item" style="padding:2px 15px"> KTD - Trường Đại học Kiến trúc Đà Nẵng </li>
                                <li class="list-group-item" style="padding:2px 15px"> DPC - Trường Đại học Phan Châu Trinh </li>
                                <li class="list-group-item" style="padding:2px 15px"> DPT - Trường Đại học Phan Thiết </li>
                                <li class="list-group-item" style="padding:2px 15px"> DQT - Trường Đại học Quang Trung </li>
                                <li class="list-group-item" style="padding:2px 15px"> TBD - Trường Đại học Thái Bình Dương </li>
                                <li class="list-group-item" style="padding:2px 15px"> DVX - Trường Đại học Công nghệ Vạn Xuân
                            </ul>
                        </div>
                        <div>
                            <h6 href="#" class="list-group-item disabled text-center">
										Miền Nam
									</h6>
                            <ul class="list-group" style="height:120px; overflow:auto;font-family:'Open Sans'; font-size: 90%;">
                                <li class="list-group-item" style="padding:2px 15px"> TAG - Trường Đại học An Giang </li>
                                <li class="list-group-item" style="padding:2px 15px"> DBL - Trường Đại học Bạc Liêu </li>
                                <li class="list-group-item" style="padding:2px 15px"> TCT - Trường Đại học Cần Thơ </li>
                                <li class="list-group-item" style="padding:2px 15px"> PVU - Trường Đại học Dầu khí Việt Nam </li>
                                <li class="list-group-item" style="padding:2px 15px"> DNU - Trường Đại học Đồng Nai </li>
                                <li class="list-group-item" style="padding:2px 15px"> SPD - Trường Đại học Đồng Tháp </li>
                                <li class="list-group-item" style="padding:2px 15px"> KCC - Trường Đại học Kỹ thuật Công nghệ Cần Thơ </li>
                                <li class="list-group-item" style="padding:2px 15px"> VLU - Trường Đại học Sư phạm Kỹ thuật Vĩnh Long </li>
                                <li class="list-group-item" style="padding:2px 15px"> TDM - Trường Đại học Thủ Dầu Một </li>
                                <li class="list-group-item" style="padding:2px 15px"> TTG - Trường Đại học Tiền Giang </li>
                                <li class="list-group-item" style="padding:2px 15px"> DVT - Trường Đại học Trà Vinh </li>
                                <li class="list-group-item" style="padding:2px 15px"> MTU - Trường Đại học Xây dựng Miền Tây </li>
                                <li class="list-group-item" style="padding:2px 15px"> YCT - Trường Đại học Y Dược Cần Thơ </li>
                                <li class="list-group-item" style="padding:2px 15px"> DBV - Trường Đại học Bà Rịa - Vũng Tàu  </li>
                                <li class="list-group-item" style="padding:2px 15px"> DBD - Trường Đại học Bình Dương  </li>
                                <li class="list-group-item" style="padding:2px 15px"> DCD - Trường Đại học Công nghệ Đồng Nai </li>
                                <li class="list-group-item" style="padding:2px 15px"> DMD - Trường Đại học Công nghệ Miền Đông  </li>
                                <li class="list-group-item" style="padding:2px 15px"> DCL - Trường Đại học Dân lập Cửu Long  </li>
                                <li class="list-group-item" style="padding:2px 15px"> DLH - Trường Đại học Dân lập Lạc Hồng  </li>
                                <li class="list-group-item" style="padding:2px 15px"> DLA - Trường Đại học Kinh tế Công nghiệp Long An  </li>
                                <li class="list-group-item" style="padding:2px 15px"> DKB - Trường Đại học Kinh tế Kỹ thuật Bình Dương  </li>
                                <li class="list-group-item" style="padding:2px 15px"> DNC - Trường Đại học Nam Cần Thơ  </li>
                                <li class="list-group-item" style="padding:2px 15px"> EIU - Trường Đại học Quốc tế Miền Đông  </li>
                                <li class="list-group-item" style="padding:2px 15px"> TTU - Trường Đại học Tân Tạo  </li>
                                <li class="list-group-item" style="padding:2px 15px"> DTD - Trường Đại học Tây Đô  </li>
                                <li class="list-group-item" style="padding:2px 15px"> VTT - Trường Đại học Võ Trường Toản  </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Filter Board-->
        <div id="Filter" class="col-md-4">
            <div class="box">
                <hr>
                <h2 class="intro-text text-center">Hệ Thống Lọc</h2>
                <hr>
                <form id="FilterForm" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Ngành</label>
                        <div class="col-md-6 selectContainer">
                            <select name="Nganh" class="form-control">
                                <option value="">Điều tra trinh sát</option>
                                <option value="">Quản lí nhà nước về An ninh-Trật tự</option>
                                <option value="">Kĩ thuật phần mềm</option>
                                <option value="">Truyền thông và mạng máy tính</option>
                                <option value="">Quản trị kinh doanh</option>
                                <option value="">Tài chính - Ngân hàng</option>
                                <option value="">Kế toán</option>
                                <option value="">Công nghệ Thông tin</option>
                                <option value="">Quản trị Kinh doanh</option>
                                <option value="">Công nghệ kĩ thuật điện-điện tử</option>
                                <option value="">Công nghệ kĩ thuật cơ khí</option>
                                <option value="">Công nghệ kĩ thuật hóa học</option>
                                <option value="">Công nghệ thực phẩm</option>
                                <option value="">Công nghệ sinh học</option>
                                <option value="">Công nghệ chế tạo máy</option>
                                <option value="">Công nghệ may</option>
                                <option value="">Quan hệ quốc tế
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Khối thi</label>
                        <div class="col-md-6 selectContainer">
                            <select name="Khoi" class="form-control">
                                <option value="">Khối A</option>
                                <option value="">Khối A1</option>
                                <option value="">Khối B</option>
                                <option value="">Khối C</option>
                                <option value="">Khối D1</option>
                                <option value="">Khối D2</option>
                                <option value="">Khối D3</option>
                                <option value="">Khối D4</option>
                                <option value="">Khối D5</option>
                                <option value="">Khối D6</option>
                                <option value="">Khối V</option>
                                <option value="">Khối V1</option>
                                <option value="">Khối M</option>
                                <option value="">Khối N</option>
                                <option value="">Khối H</option>
                                <option value="">Khối H1</option>
                                <option value="">Khối R</option>
                                <option value="">Khối S</option>
                                <option value="">Khối K</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Điểm chuẩn</label>
                        <div class="col-md-6 selectContainer">
                            <select name="DiemChuan" class="form-control">
                                <option value="">Dưới 10</option>
                                <option value="">Từ 10 - 15</option>
                                <option value="">Từ 15 - 18</option>
                                <option value="">Từ 18 - 21</option>
                                <option value="">Từ 21 - 24</option>
                                <option value="">Từ 24 - 26</option>
                                <option value="">Từ 26 - 28</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Vùng</label>
                        <div class="col-md-6 selectContainer">
                            <select name="Vung" class="form-control">
                                <option value="">Miền Bắc</option>
                                <option value="">Miền Trung</option>
                                <option value="">Miền Nam</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">Thành phố</label>
                        <div class="col-md-6 selectContainer">
                            <select name="ThanhPho" class="form-control">
                                <option value="">TP. Hồ Chí Minh</option>
                                <option value="">Hà Nội</option>
                                <option value="">Hải Phòng</option>
                                <option value="">Cần Thơ</option>
                                <option value="">Đà Nẵng</option>
                                <option value="">Biên Hòa</option>
                                <option value="">Nha Trang</option>
                                <option value="">Huế</option>
                                <option value="">Buôn Ma Thuột</option>
                                <option value="">Vinh</option>
                                <option value="">Vũng Tàu</option>
                                <option value="">Quy Nhơn</option>
                                <option value="">Long Xuyên</option>
                                <option value="">Thái Nguyên</option>
                                <option value="">Nam Định</option>
                                <option value="">Rạch Giá</option>
                                <option value="">Thủ Dầu Một</option>
                                <option value="">Hạ Long</option>
                                <option value="">Phan Thiết</option>
                                <option value="">Cà Mau</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-5 col-md-offset-7">
                            <button type="submit" class="btn btn-default">Lọc!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>